<a ng-click="$ctrl.runnersDialog()"
   uib-tooltip="{{$ctrl.taskOverview.tooltip}}"
   class="tc_task-queue"
   tooltip-placement="bottom">
  <i class="fa {{$ctrl.taskOverview.icon}}"></i>
  <span ng-if="!$ctrl.taskOverview.failed">
    <translate translate-params-queue="$ctrl.taskOverview.queue ? $ctrl.taskOverview.queue : ''">
      {{ queue }} Background-Task{{queue !== 1 ? 's' : ''}}
    </translate>
  </span>
  <span ng-if="$ctrl.taskOverview.failed > 0">
    <translate translate-params-failed="$ctrl.taskOverview.failed">
      {{ failed }} Failed-Task{{failed !== 1 ? 's' : ''}}
    </translate>
  </span>
</a>
